html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: black;
    color: #00ff00;
    font-family: monospace;
}
#main {
    display: inline-block;
    padding: 1rem;
}
textarea {
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}
#input-rom {
    margin-top: 1rem;
}

input[type="checkbox"] {
    margin-right: 1rem;
}
.title {
    margin-bottom: 1rem;
}

#patches-selector {
    display: inline-block;
    //margin-bottom: 1rem;
}

#custom-patches {
    margin-bottom: 1rem;
}
